@import 'colors.css';

.box {
  display: block;
  width: 1024px;
  height: 600px;
  padding: 30px 50px;
  font-size: 40px;
  background: var(--base00);
  color: var(--base02);
}

.box.active,
.box.past {
  color: var(--base06)
}

#welcome {
  color: var(--base06);
}

.box-small {
  /* display: block; */
  width: 512px;
  height: 300px;
  padding: 15px 25px;
  font-size: 20px;
  color: var(--base06);
}

.hidden.future {
  opacity: 0.2;
}

.box-small.future {
  color: var(--base02)
}

.box.base08 {
  border: 1px solid var(--base02);
  border-bottom: 20px solid var(--base08)
}

.box-small.active .base0C,
.box-small.past .base0C {
  color: var(--base0C)
}

.box.base09 {
  border: 1px solid var(--base02);
  border-bottom: 20px solid var(--base09);
}

.box.base0A {
  border: 1px solid var(--base02);
  border-bottom: 20px solid var(--base0A);
}

.box.base0B {
  border: 1px solid var(--base02);
  border-bottom: 20px solid var(--base0B);
}

.box.base0C {
  border: 1px solid var(--base02);
  border-bottom: 20px solid var(--base0C);
}

/* .box.base0A h1, */
/* .box.base0A h2 { */
/*   color: var(--base0A); */
/* } */

/* .box.base0B h1, */
/* .box.base0B h2 { */
/*   color: var(--base0B); */
/* } */
/* .box.base0C h1, */
/* .box.base0C h2 { */
/*   color: var(--base0C); */
/* } */
/* .box.base0D h1, */
/* .box.base0D h2 { */
/*   color: var(--base0D); */
/* } */

/* .box.base08 h1, */
/* .box.base08 h2 { */
/*   color: var(--base08); */
/* } */

/* .box.base09 h1, */
/* .box.base09 h2 { */
/*   color: var(--base09); */
/* } */

/* .box.base0A h1, */
/* .box.base0A h2 { */
/*   color: var(--base0A); */
/* } */

/* .box.base0B h1, */
/* .box.base0B h2 { */
/*   color: var(--base0B); */
/* } */
/* .box.base0C h1, */
/* .box.base0C h2 { */
/*   color: var(--base0C); */
/* } */
/* .box.base0D h1, */
/* .box.base0D h2 { */
/*   color: var(--base0D); */
/* } */
